body {
	font-size: 62.5%;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, form, blockquote {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, pre, code {
	font-size: 1em;
}
a {
	text-decoration: none;
}
a img {
	border: none;
}

body ul {
	list-style-type: none;
}